@import "../theme/theme";

.container {
  border-top: $space--small solid;
  border-image: $chroma-gradient-pr;
  border-image-slice: 1;
  background-color: $chroma-yellow;
  margin: $site-container--center;
  padding: 2rem 0 0;
}

.quote {
  color: $black;
  font-family: $font-family--heading;
  font-weight: 400;
  max-width: 60ch;
  margin: auto;
  width: 100%;
  font-size: 1rem;
}

.avatar {
  background-image: linear-gradient(
    180deg,
    $chroma-yellow calc(50% - 20px),
    white 0%
  );
  text-align: center;
  img {
    border-radius: 50%;
  }
}
