@import "../theme/theme";

.container {
  background-color: black;
  color: white;
  width: 100%;
  font-size: 0.9rem;
  line-height: 1.6;
}

.link {
  color: $neutral-gray-07;
  text-transform: capitalize;
  text-decoration: none;
  &:hover {
    color: $white;
    transition: $transition--smooth--fast;
  }
}

.list {
  list-style-type: none;
  padding: 1rem 0 2rem 0;
  li {
    margin-bottom: 1rem;
  }
}
