@import "../theme/theme";

.container {
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: $space--medium solid;
  border-image: $chroma-gradient;
  border-image-slice: 1;
  text-align: center;
}

.header {
  color: $white;
  font-size: 4rem;
  font-weight: 500;
  font-family: $font-family--heading;
  margin-bottom: 2rem;
}

.subheader {
  color: $white;
  font-family: $font-family--heading;
  font-weight: 400;
  max-width: 40ch;
  margin: auto;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
