@import "../theme/theme";

.container {
  border-bottom: $space--medium solid;
  border-image: $chroma-gradient;
  border-image-slice: 1;
  text-align: center;
  position: relative;
  background: black;
  z-index: 20;

  &::after {
    background: center / cover no-repeat var(--bg-image);  
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    position: absolute;
    z-index: -1;
  }
}

.header {
  color: $white;
  font-size: 4rem;
  font-weight: 500;
  font-family: $font-family--heading;
  margin-bottom: 2rem;
}

.subheader {
  color: $white;
  font-family: $font-family--heading;
  font-weight: 400;
  max-width: 40ch;
  margin: auto;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
