@import "../theme/theme";

// REFACTOR: 10rem could be abstracted to height of navigation

.container__main {
  margin: $site-container--center;
  max-width: 70rem;
  width: 100%;
  padding: 10rem 0 0;
  &:last-of-type {
    padding-bottom: 10rem;
  }
}
.container__full {
  padding: 10rem 1rem 1rem;

  &__black {
    background-color: $black;
  }
}
