@import "../theme/theme";

.container__main {
  margin: $site-container--center;
  max-width: 70rem;
  padding: 2rem 1rem;
  margin-top: 100px;

  @media (min-width: 768px) {
    padding: 3rem 1.5rem;
  }

  @media (min-width: 1440px) {
    padding: 4rem 0;
  }
}
