@import "../theme/theme";

// REFACTOR: 10rem could be abstracted to height of navigation

.container__main {
  margin: $site-container--center;
  max-width: 70rem;
  width: 100%;
  padding: 5rem 0 0;
  &:last-of-type {
    padding-bottom: 10rem;
  }
}
.container__full {
  padding: 10rem 1rem 1rem;

  &__black {
    background-color: $black;
  }
}

.container__news {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 3rem;
}
