@import "../theme/theme";

$bar-uva-height: calc(22px + 1rem);
$bar-grappa-height: calc(76px + 2rem);

.navigation {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 20;
}

.logo {
  cursor: pointer;
  max-width: 10rem;
  width: 100%;
  z-index: 20;
}

.grappa__bar {
  background-color: $white;
  height: $bar-grappa-height;
}

.uva__bar {
  background-color: $black;
  color: $white;
  height: $bar-uva-height;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  width: 48rem;
  margin: 0;
  padding: 0;

  li {
    display: inline;
  }

  li a {
    color: $black;
    font-family: $font-family--accent;
    text-decoration: none;
    font-weight: 300;
    position: relative;
    background-color: white;
    padding-bottom: 0.5rem;

    &::after {
      background: $chroma-gradient;
      border-radius: 5em;
      content: "";

      display: block;
      height: 0.1em;
      transform-origin: 50% 0%;
      transform: scalex(0);
      width: 100%;
      bottom: 0;
      position: absolute;
    }

    &:hover {
      &::after {
        transform: scalex(1);
        transition: $transition--smooth--fast;
      }
    }
  }
}

.navLinks li a:last-of-type {
  margin-right: 0;
}

.mobileLinks a {
  text-transform: capitalize;
  font-family: $font-family--heading;
  text-decoration: none;
  font-size: 1.25rem;
}

.mobileNavContainer {
  width: calc(100vw);
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  padding: 0 2em;
}

.mobileNavContainer ul {
  height: calc(100vh - $bar-uva-height - $bar-grappa-height - 8em);
  margin: 0;
  padding: 4em 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 1240px) {
  .logo {
    max-width: 13rem;
  }
}

.menuToggle {
  width: 35px;
  height: 25px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menuToggle:focus-visible {
  background-color: $black;
  outline: 0 transparent solid;
}

.menuToggle:focus:not(:focus-visible) {
  background-color: $black;
  outline: 0 transparent solid;
}

.buttons {
  z-index: 20;
}

.burger {
  width: 38px;
  height: 38px;
  cursor: pointer;
  background: transparent;
  border: 0;
  position: relative;
}

.meat {
  position: absolute;
  width: 28px;
  height: 2px;
  background: #000;
  top: calc(50% - 2px / 2);
  left: calc(50% - 28px / 2);
  transition: all 150ms ease-in;
  &:nth-of-type(1) {
    transform: translateY(-10px);
    &.active {
      transform: rotate(45deg);
    }
  }
  &:nth-of-type(2) {
    &.active {
      opacity: 0;
    }
  }
  &:nth-of-type(3) {
    transform: translateY(10px);
    &.active {
      transform: rotate(-45deg);
    }
  }
}
