@import "../theme/theme";

.box {
  border-bottom: 1px solid $neutral-gray-06;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  @media (min-width: 900px) {
    max-width: 400px;
  }

  img {
    width: 100%;
  }
}

.cardFallback {
  background: $black;
  margin-bottom: 1rem;
}

.container {
  flex-direction: column;

  @media (min-width: 600px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.date {
  font-size: 0.8rem;
}
