@import "../theme/theme";

.box {
  border-bottom: 1px solid $neutral-gray-06;
  padding-bottom: 1rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
  width: 100%;

  img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
}

.newsRailBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid $neutral-gray-06;
  padding-bottom: 1rem;
  margin-bottom: 3rem;

  width: 100%;

  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

}

.newsGridBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;

  img, div {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
}

.gridBox {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  height: 100%;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
}

.cardFallback {
  background: $black;
  margin-bottom: 1rem;
}

.container {
  flex-direction: column;

  @media (min-width: 600px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.date {
  font-size: 0.8rem;
}

.emptyCard {
 background: $chroma-gradient-ang;
}