@import "../theme/theme";

// TODO: Refactor

.cta__primary {
  color: $black;
  background: $chroma-yellow;
  border-radius: 99px;
  display: inline-block;
  margin: $space--large auto;
  padding: 12px 24px;
  transition: all 250ms ease-in-out;
  text-decoration: none;

  &:hover {
    transform: translateY(-0.1em);
  }

  &:focus-visible {
    box-shadow: 0 0 0 0.2rem $chroma-purple;
    outline: none;
  }

  a {
    color: $black;
    text-decoration: none;
    &:focus-within {
      outline: none;
    }
  }
}
