@import "../theme/theme";

// TODO: Refactor

.cta__primary {
   background-color: $chroma-yellow;
   border: .125rem solid transparent;
   border-radius: $space--large;
   display: inline-block;
   margin: $space--large auto;
   padding: $space--medium $space--large;
   transition: $transition--smooth--medium;
   &:hover {
       background: $chroma-gradient;
   }

   &:focus-within {
       background: $chroma-gradient;
       border: .125rem solid $chroma-purple;
       outline: none;
   }

   a {
       color: $black;
       text-decoration: none;
       &:focus-within {
        outline: none;
       }
   }
}