@import "../theme/theme";

// TODO: Refactor

.cta__primary {
  background: $chroma-yellow;
  border-radius: 99px;
  display: inline-block;
  margin: $space--large auto;
  padding: 12px 24px;
  transition: all 250ms ease-in-out;
  text-decoration: none;

  &:hover {
    background-image: $chroma-gradient;
  }

  &:focus-within {
    background-image: $chroma-gradient;
    border: 0.125rem solid $chroma-purple;
    outline: none;
  }

  a {
    color: $black;
    text-decoration: none;
    &:focus-within {
      outline: none;
    }
  }
}
