@import "../theme/theme";

.area {
  display: flex;
  justify-content: flex-start;
}

.blurb {
  font-family: $font-family--accent;
}

.summary {
  margin-right: 2rem;
}

.container {
  margin: 0 auto;
  padding: 0;
  flex-direction: column;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}
