@import "../theme/theme";


.blurb {
  font-family: $font-family--accent;
}

.summary {
  margin-right: 2rem;
  flex-grow: 1;
}

.main {
max-width: 864px;
}

.container {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  flex-direction: column;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}
