@import "../theme/theme";

.area {
  border-bottom: 2px solid black;
}

.box {
  width: 100%;
  max-width: 300px;
  background-color: $neutral-gray-08;
  transition: $transition--ease--fast;
  margin: 2rem auto;
  display: flex;
flex-direction: column;

  p {
    padding: 0 1rem;
    min-height: 50px;
  }

  img {
    height: 300px;
    max-width: 300px;
    object-fit: cover;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0.25rem 0.25rem $chroma-purple;
  }

  @media (min-width: 900px) {
    max-width: 250px;

    img {
      height: 250px;
      max-width: 250px;
    }
  }
}

.container {
  flex-direction: column;

  @media (min-width: 600px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.date {
  font-size: .8rem;
}


.link {
  font-family: $font-family--accent;
  font-weight: 300;
  text-decoration: none;
  font-size: 0.85rem;
}

.boxSmall {
  @extend .box;
  max-width: 200px;
  
  img {
    height: 200px;
    max-width: 200px;
    object-fit: cover;
  }
}