@font-face {
font-family: 'Neue Haas Grotesk Text';
font-style: normal;
font-weight: normal;
src: local('Neue Haas Grotesk Text Pro Roman'), url('NHaasGroteskTXPro-55Rg.woff') format('woff');
}


@font-face {
font-family: 'Neue Haas Grotesk Text';
font-style: oblique;
font-weight: normal;
src: local('Neue Haas Grotesk Text Pro Italic'), url('NHaasGroteskTXPro-56It.woff') format('woff');
}


@font-face {
font-family: 'Neue Haas Grotesk Text';
font-style: normal;
font-weight: bold;
src: local('Neue Haas Grotesk Text Pro Bold'), url('NHaasGroteskTXPro-75Bd.woff') format('woff');
}

@font-face {
font-family: 'Neue Haas Grotesk Text';
font-style: oblique;
font-weight: bold;
src: local('Neue Haas Grotesk Text Pro Bold Italic'), url('NHaasGroteskTXPro-76BdIt.woff') format('woff');
}

@font-face{
    font-family:"Termina W05";
    font-weight: 400;
    src:url("2a1addec-bbcc-4b42-a6ec-b1104d6f57e8.woff2") format("woff2"),url("57c11e49-3dbc-41cb-b7aa-94980034564f.woff") format("woff");
}

@font-face {
  font-family: 'Termina W05';
  font-weight: 500;
  src: local('Termina W05 Demi'), url("d0135e26-87f0-40e0-9997-a1b4d016a1ca.woff2") format("woff2"),url("9f85c9c3-1a0e-4674-8336-4bed34897907.woff") format("woff");
 }

@font-face{
  font-family:'Termina W05';
  font-weight: 800;
  src: url("ee50c958-2f7d-4c61-8934-2f0a0dc4f587.woff2") format("woff2"),url("af89826f-bc8f-42b3-bbbf-6dc534865f58.woff") format("woff");
  }