$width--small-x: $space--x-small;
$width--small: 600px;
$width--medium: 800px;
$width--base: 900px;
$width--large: $space--large;
$width--large-x: $space--x-large;

@mixin container--width($width) {
  max-width: $width;
}

@mixin container--h-center {
  margin-left: auto;
  margin-right: auto;
}

.container--base {
  @include container--h-center;
  @include container--width($width--base);
  padding-left: $space--medium;
  padding-right: $space--medium;
}

.container--center {
  margin: auto;
}

.container--small {
  @include container--width($width--small);
}

.container--medium {
  @include container--width($width--medium);
}

.container--width-260 {
  max-width: 260px;
}

.container--flex {
  display: flex;

  &--row {
    flex-direction: row;
  }

  &--col {
    flex-direction: column;
  }

  &--space-around {
    justify-content: space-around;
  }

  &--space-between {
    justify-content: space-between;
  }
}
