$width--small-x: $space--x-small;
$width--small: 600px;
$width--medium: 800px;
$width--base: 900px;
$width--large: $space--large;
$width--large-x: $space--x-large;

@mixin container--width($width) {
  max-width: $width;
}

@mixin container--h-center {
  margin-left: auto;
  margin-right: auto;
}

.container--base {
  @include container--h-center;
  @include container--width($width--base);
  padding-left: $space--medium;
  padding-right: $space--medium;
}

.container--center {
  margin: auto;
}

.container__small {
  @include container--width($width--small);
}

.container__medium {
  @include container--width($width--medium);
  margin-right: 65px;
}

.container--width-260 {
  max-width: 260px;
}

.container__main {
  margin: $site-container--center;
  max-width: $site-container;
  padding: 5em 1em;
  width: calc(100% - 2em);

  &:last-of-type:not(:only-child) {
    padding-bottom: 10rem;
  }
}

.container__nav {
  max-width: calc($site-container - 4em);
  padding: 1em 2em;
  width: calc(100% - 4em);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $site-container) {
    max-width: $site-container;
  }
}

.container__right {
  display: flex;
  justify-content: flex-end;
}

.container__full {
  padding: 10rem 1rem 1rem;

  &__black {
    background-color: $black;
  }
}

.container__news {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 3rem;
}

.container__sidebar {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 3rem;
}

.container--grid {
  display: grid;

  &--cols--2 {
    @extend .container--grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &--cols--3 {
    @extend .container--grid;

    @media (min-width: 600px) {
      gap: 120px;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--cols--4 {
    @extend .container--grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.container__flex {
  display: flex;

  &--row {
    flex-direction: row;
  }

  &--colstatic {
    flex-direction: column;
  }

  &--col {
    flex-direction: column;
    @media (min-width: 600px) {
      flex-direction: row;
    }
  }

  &--space-around {
    justify-content: space-around;
  }

  &--space-between {
    @extend .container__flex;
    justify-content: space-between;
  }

  &--center {
    @extend .container__flex;
    align-items: center;
  }

  &--align-start {
    align-items: start;
  }

  &--justify-start {
    @extend .container__flex;
    justify-content: flex-start;
  }
}

.container__research {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  flex-direction: column;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}

.container__aside {
  margin-right: 2rem;
  width: 400px;
}

.container__article {
  max-width: 864px;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  margin: 0;
  padding: 0;
  gap: 2em;
}

.card__job {
  border: 1px solid $chroma-purple;
  padding: 1em;
  font-weight: bold;

  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  &__banner {
    // background: $chroma-yellow;
    margin: 0;
  }
}

.details__directions {
  padding: 1em;
  font-family: summary {
    outline: 1px solid $neutral-gray-05;
    padding: 1em;
    margin: 1em -1em 0;
  }
}

.object-cover {
  object-fit: contain;
}
