.text__headline {
  text-transform: uppercase;

  &__1 {
    font-size: 36px;
    line-height: 1.2;

    @media (min-width: 600px) {
      font-size: 64px;
    }
  }

  &__2 {
    font-size: 24px;
    line-height: 1.2;

    @media (min-width: 600px) {
      font-size: 48px;
    }
  }

  &__3 {
    font-size: 28px;
    line-height: 1.4;
    @media (min-width: 600px) {
      font-size: 36px;
    }
  }

  &__4 {
    font-size: 18px;
    line-height: 1.5;
    @media (min-width: 600px) {
      font-size: 24px;
    }
  }

  &__5 {
    font-size: 16px;
    line-height: 1.5;
    @media (min-width: 600px) {
      font-size: 18px;
    }
  }
}

.text--lowercase {
  text-transform: lowercase;
}

.text--emphasis {
  font-style: italic;
}

.text__heavy {
  font-weight: 600;
  font-family: $font-family__heading;
}

.text__eyebrow {
  font-weight: 600;
  font-family: $font-family__heading;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.4em;
  color: $chroma-yellow;

  &__grey {
    @extend .text__eyebrow;
    color: $neutral-gray-03;
    &Sm {
      @extend .text__eyebrow__grey;
      font-size: 0.7rem;
    }
  }

  &__white {
    @extend .text__eyebrow;
    color: $white;
    &Sm {
      @extend .text__eyebrow__white;
      font-size: 0.7rem;
    }
  }
}

.text__detail {
  font-family: $font-family--accent;
  color: $neutral-gray-04;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 1rem 0;
  &__job {
    @extend .text__detail;
    margin: 2em 0 0 0;
    color: initial;
  }
}

.text__hero {
  @extend .text__headline__1;
  font-family: $font-family--heading;
  font-weight: 300;
  margin: 0 0 0.5em;
  color: $white;
  max-width: 60rem;

  &__grey {
    @extend .text__hero;
    color: $neutral-gray-03;
  }
}

.text__subheader {
  font-size: 1rem;
  font-weight: 300;
  font-family: $font-family--heading;
  max-width: 35ch;
}

.text--featured {
  font-family: $font-family--heading;
  font-weight: 300;
  margin: 0 0 1rem 0;
}

.text__news {
  font-family: $font-family--heading;
  font-weight: 300;
  margin: 1rem 0 0;
  line-height: 0.9;
}

.text--teasers {
  font-family: $font-family--accent;
  font-weight: 200;
  font-size: 0.8rem;
  margin: 1rem 0 0;
}

.text--attr {
  font-family: $font-family--heading;
  font-weight: 600;
}

.text--research {
  font-family: $font-family--heading;
  font-weight: 300;

  @media (min-width: 600px) {
    max-width: 60rem;
    min-width: 24rem;
    margin-right: 2rem;
  }
}

.text__name {
  font-family: $font-family--accent;
  text-decoration: none;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.text__title {
  font-family: $font-family--accent;
  font-weight: bold;
  margin-bottom: 1em;
}

.text__accent {
  font-weight: 600;
  font-family: $font-family--base;
  text-transform: uppercase;

  &__sm {
    @extend .text__accent;
    font-size: 0.75rem;
    color: $chroma-purple;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 600;
    margin-bottom: 0.25em;
  }
}

.text__underscore {
  font-family: $font-family--accent;
  margin: 0 0 2rem;
  display: inline-block;
  padding: 0 0.75rem 0.75rem 0;
  box-shadow: 10px 10px 0 0 $chroma-yellow;

  &__sm {
    @extend .text__underscore;
    color: $chroma-purple;
    font-size: 0.65rem;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    box-shadow: 1px 1px 0 0 $chroma-purple;
  }

  &__md {
    @extend .text__underscore;
    color: $chroma-purple;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    box-shadow: 1px 1px 0 0 $chroma-purple;
    margin-top: 1rem;
  }
}

.list__none {
  list-style-type: none;
}

// .details {
//   // &::marker {
//   //   list-style-type: none;
//   // }
// }
