html {
  font-size: 18px;
}

body {
  color: $font-color--base;
  font-family: $font-family--base;
  font-size: $font-size--base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-color--heading;
  font-family: $font-family--base;
  font-weight: $font-weight--bold;
  line-height: $line-height--base;
}

h1,
h2 {
  line-height: $line-height--medium;
}

h3,
h4,
h5,
h6 {
  line-height: $line-height--small;
}

p {
  line-height: $line-height--base;
}

a {
  color: $link--base;
  text-decoration: none;
  // &:hover {
  // Would love to do some sort of gradient hover here...
  // }
}

// ol {

// }

// li {

// }
